body { background-image: url(https://thumb1.shutterstock.com/display_pic_with_logo/1771478/526419853/stock-photo-vintage-old-brick-wall-texture-grunge-red-white-stonewall-background-distressed-wall-surface-526419853.jpg);
  width:100% ;
  height: auto}
.red{
   color: red;
}
.thick{
   font-size:20px;
}
.green{
   color:green;
}